/*
 * Main entry point for this application.
 */

/* eslint no-console:0 */

console.log('--');
console.log('Application Started.');
console.log('Environment: ' + process.env.NODE_ENV);

const express = require('express');
const app = express();
app.use('/dist', express.static('./dist'));
app.listen(process.env.PORT || 3000);

console.log('--');
