{
  "name": <%- projectName %>,
  "version": "1.0.0",
  "private": true,
  "description": <%- projectDescription %>,
  "main": "index.js",
  "engines": {
    "node": ">=4.2.1"
  },  
  "scripts": {
    "start": "node .",
    "postinstall": "gulp build",
    "test": <%- projectScriptTest %>,
    "build": "gulp build",
    "watch": "gulp watch"
  },
  "dependencies": {
    <%- projectDependencies %>
  },
  "devDependencies": {
    <%- projectDevDependencies %>
  }
}
